option_settings:
  aws:elasticbeanstalk:sqsd:
    HttpPath: /
    MimeType: application/json
    ConnectTimeout: 5
    InactivityTimeout: 20
    VisibilityTimeout: 300
    RetentionPeriod: 345600
    MaxRetries: 10

# This creates a dummy script that satisfies the requirement for sqsd 
# OR use this command to disable the service entirely if on AL2023:
commands:
  01_disable_sqsd:
    command: "systemctl stop sqsd && systemctl disable sqsd"
    ignoreErrors: true
