# miyog/backend/.ebextensions/01_celery_worker_config.config
option_settings:
  # This disables the default SQS Daemon (sqsd) and tells Beanstalk
  # to deploy a background worker process instead of a web server.
  - namespace: aws:elasticbeanstalk:container:python:platform
    option_name: Application Queue
    value: disabled
  
  # Ensure the container starts without being polled by sqsd
  - namespace: aws:elasticbeanstalk:environment
    option_name: ServiceRole
    value: arn:aws:iam::963604113727:role/aws-elasticbeanstalk-service-role
