name: Backend CI/CD

on:
  push:
    paths:
      - 'backend/**' 
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Amazon ECR
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 963604113727.dkr.ecr.us-east-1.amazonaws.com

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          push: true
          tags: 963604113727.dkr.ecr.us-east-1.amazonaws.com/miyog-backend:latest
          # These lines enable the build cache
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/myg/backend
            # Log in to ECR on the EC2 instance using the IAM Role permissions
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 963604113727.dkr.ecr.us-east-1.amazonaws.com
            
            # Pull the latest images defined in your docker-compose.yml
            docker-compose pull
            # Restart the services in detached mode
            docker-compose up -d
